:root {
    --whitecolor: white;
    --bannerBackgroundGrey: rgb(60, 63, 70);
    --mainBackgroundGrey: rgba(60, 63, 70, 0.911);
    --lightColour: rgb(223, 229, 228);
    --generalPadding: 25px;
    --halfPadding: 12px;
    --doublePadding: 50px;
    --darkBlueText: rgba(18, 18, 138, 0.788);
    --tileWidth: 33%;
    --tileHeight: 450px;
    --doubleTileWidth: 100%;
    --paddingLeftH2: 2%;
    --paddingRightH2: 50px;
}

html {
    font-size: 20px;
    font-family: verdana, arial;
    width: 100%;
    background-color: var(--mainBackgroundGrey);
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: var(--whitecolor);
    font-size: 1.5rem;
    text-align: left;
    background-color: var(--bannerBackgroundGrey);
    height: 100px;
    width: 100vw;
}


header h1 {
    display: inline-block;
    padding: 10px;
    padding-left: var(--generalPadding);
    color: var(--lightColour);
    background-color: var(--bannerBackgroundGrey);
    width: 210px;
    text-align: center;
    border-bottom: solid 5px;
}

header li {
    display: inline-block;
    padding: 10px;
    margin-top: 25px;
    color: var(--lightColour);
    background-color: var(--bannerBackgroundGrey);
    border: solid 5px;
    border-radius: 25px;
    width: 110px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: var(--lightColour);
    background-color: var(--bannerBackgroundGrey);
}

nav {
    display: inline-block;
    position: relative;
    right: var(--doublePadding);
    color: var(--whitecolor);
    font-size: 1.2rem;
}


footer {
    margin-top: var(--doublePadding);
    text-align: center;
}

img {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: contain;

}



/* The banner image as a hero class */
.hero {
    height: 300px;
    width: 100vw;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
}


.nameClass {
    position: absolute;
    top: 125px;
    left: 0px;
    font-size: 1.25rem;
    height: 3rem;
    width: 250px;
    background-color: var(--bannerBackgroundGrey);
    color: var(--lightColour);
    padding-left: var(--generalPadding);
    padding-top: 0.5rem
}

.mainDiv {
    background-color: var(--mainBackgroundGrey);
    width: 100%;
}

.customBorder {
    border: solid 5px var(--lightColour);
    border-radius: 25px;
}

.customBorderR {
    border: solid 5px var(--lightColour);
    border-radius: 0px 20px 20px 0px;
}

.customBorderL {
    border: solid 5px var(--lightColour);
    border-radius: 20px 0px 0px 20px;
}

.contactli {
    list-style-type: none;
}